.slick-arrow {
   position: absolute !important;
   top: 50% !important;
   align-items: center !important;
   justify-content: center !important;
   width: 40px !important;
   color: #fff !important;
   text-align: center !important;
   opacity: 0.5 !important;
   height: 50px !important;
   transform: translateY(-50%) !important;
   background: rgba(0, 0, 0, .5) !important;
 }

.slick-disabled{
	display: none !important;
}

 .slider__control_show {
   display: flex;
 }

 .slick-arrow:hover{
  background: rgba(0, 0, 0, .7) !important;
   transition: 0.5s all ease;
   text-decoration: none !important;
   outline: 0;
   opacity: .9;
 }

 .slick-prev {
   z-index:10;
   left: 0 !important;  
 }

 .slick-next {
   right: 0 !important;
 }

 .slick-arrow::before {
   content: '' !important;
   display: inline-block;
   width: 20px;
   height: 20px;
   background: transparent no-repeat center center;
   background-size: 100% 100%;
 }

 .slick-prev::before {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
 }

 .slick-next::before {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
 }