@import '../mixins';
@import '../variables';
@import './advantagesBlockAdaptive.module.scss';

.advantagesBlock{
	@include container;

	&__title{
		@include title(black, 30px);
	}

	&__body{
		display: grid;
  	grid-template-columns: 400px 400px;
  	grid-template-rows: 400px 400px;
		justify-content: center;
	}
}