
   .fa-vk:hover{
      transition: .3s ease;
      color: dodgerblue;
   }

   .fa-twitter:hover{
      transition: .3s ease;
      color:lightskyblue;
   }

   .fa-instagram:hover{
      transition: .3s ease;
      color:darkmagenta;
   }