.nav_phones__body{
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 10;
	overflow: auto;
	transition: .3s all ease;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: url(../../img/burger-menu/fon.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	top: -150%;
}

.nav_phones__body.active{
	top: 0;
}

.nav_phones__body-itemWrapper{
	padding: 100px 0px 20px;
}

.nav_phones__body.enter{
transform:translateY(-100%);
}

.nav_phones__body.enter-done{
transform:translateY(0);
}

.nav_phones__body.enter-active{
transition: all 500ms ease;
transform:translateY(0);
}

.nav_phones__body.exit{
transform:translateY(-100%);
transition: all 500ms ease;
}

.navMobileLink a{
	color: #fff;
	font-size: 18px;
}
