@media (max-width:767px) {
	.main_content__text{
		flex-direction: column;
	}

.main_content__subtitle{
	padding: 20px 0px;
}

	.imgGallary{
		overflow: hidden;
		grid-template-columns: 1fr !important;
		grid-template-rows: repeat(6, 1fr) !important;
		grid-template-areas:
			"niderlands"
			"maldives"
			"vengria"
			"mram"
			"newYork"
			"kanada" !important;
	}

	.limiter{
		height: 100%;
		width: 200%;
	}

	.limiter .block_text{
		width: 50% !important;
	}

	.limiter .countrieDesk{
		right: 50% !important;
	}
}