@import '../_mixins';
@import '../_variables';

.main_content{
	&__container{
	@include container()
	}
}

.main_content__text{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.main_content__buttPerpose{
	@include commonButton
}