@import '../mixins';
.wrapper{
   width: 100%;
}

.page{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  .paralax{
     position: relative;
     height: 100%;

  }
}

.content{

	z-index:10;
}

.content__title{
	font-family: 'Sawarabi Gothic', sans-serif;
	margin-top: 300px;
}

.col{
	text-align: center;
	
}

.col h3{
   padding: 20px 0px 0px 0px;
	font-size: calc(35px + 15 * ((100vw - 320px) / (1280 - 320)));
	margin-bottom: 100px;
	margin-top: 100px;
}

.col span{

	margin-top: 100px;
}

.row{
	padding: 0;
}

.content_img {
	height: 500px;
	min-width: 800px;
	max-width: 1000px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	border: 1px solid gray;
	margin: 0 auto;
}


.kitchenFirstImage{
	background: url(../../img/kanadaImg/kitchen/1.png) no-repeat;
}

.kitchenSecondImage{
	background: url(../../img/kanadaImg/kitchen/2.png) no-repeat;
}

.kitchenThirdImage{
	background: url(../../img/kanadaImg/kitchen/3.png) no-repeat;
}

.interestingfirstImage{
	background: url(../../img/kanadaImg/intresting/1.png) no-repeat;
}

.interestingSecondImage{
	background: url(../../img/kanadaImg/intresting/2.png);
}

.interestingThirdImage{
	background: url(../../img/kanadaImg/intresting/3.png) no-repeat;
}

#firstCardItem{
	background: url(../../img/kanadaImg/kitchen/1.png) no-repeat;
	@include cardImg;
}

#secondCardItem{
	background: url(../../img/kanadaImg/kitchen/2.png) no-repeat;
	@include cardImg;
}

#thirdCardItem{
	background: url(../../img/kanadaImg/kitchen/3.png) no-repeat;
	@include cardImg;
}

#fourthCardItem{
	background: url(../../img/kanadaImg/intresting/1.png) no-repeat;
	@include cardImg;
}

#fifthCardItem{
	background: url(../../img/kanadaImg/intresting/2.png) no-repeat;
	@include cardImg;
}

#sixthCardItem{
	background: url(../../img/kanadaImg/intresting/3.png) no-repeat;
	@include cardImg;
}

@media(max-width: 767px){
   .content__article{
      padding: 0;
   }
}