.accordion{
margin: 10px auto;
position: relative;
text-align: center;
}

.accordion__arrow{
	background: url(../../img/accordion_img/arrow_accordion.svg) no-repeat;
	background-size: cover;
	height: 10px;
	width: 10px;
	position: absolute;
	top: 8px;
	right: 0;
	transform: rotate(90deg);
	transition: all .5s ease;
}

.accordion__arrow.active{
	transition: all .5s ease;
	transform: rotate(270deg);
}

.accordion__summary{
	margin: 0 auto;
	width: 100px;
}

.accordion__summary h3{
	font-size: 20px;
	color:#fff;
	font-family: "Oswald",sans-serif;
}

.accordion__content{
	overflow: hidden;
	line-height: 20px;
	width: 150px;
}

.accordion__content li{
	padding: 5px 0px;
}

.accordionList-enter{
transform:translateY(-100%);
}

.accordionList-enter-done{
transform:translateY(0);
}

.accordionList-enter-active{
transition: all 500ms ease;
transform:translateY(0);
}

.accordionList-exit{
transform:translateY(-100%);
transition: all 500ms ease;
}

